* {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;	
	image-rendering: crisp-edges;
}


@media screen and (min-width: 64em){
canvas {
	width=1000;
    height=700;
}
}